.navbar {
  background-color: #446ef636 !important;
}

.nav-link {
  color: #212529 !important
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #212529;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-image: asset_url('home_image_v2.jpg');
  background-repeat: repeat;
  background-size: cover;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #446ef636 !important;
}

.card-text.text-left {
  text-align: left !important;
}
