.navbar {
  background-color: #0d6efd !important;
}

.nav-link {
  color: white !important
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 30px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
