<footer id="sticky-footer" class="footer mt-auto py-3 bg-primary text-white" >
  <div class="container text-center">
    <small class="fw-bold fs-5" style="color: #212529;"> © MariusTulbure, 2023 </small>
  </div>
</footer>
